header {
    background-color: #b1b6ff;
    margin: 5%;
    max-width: 90%;
    text-align: center;
}

body {
    margin-top: 0;
}

#noScroll {
    overflow: hidden;
}

/* text styles */

p {
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18pt;
}

#smallText {
    font-size: 14pt;
}

h2 {
    font-family: dinosaur, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32pt;
    text-transform: uppercase;
}

h3 {
    font-family: dinosaur, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24pt;
    margin: 0;
}

h1 {
    font-family: mr-sandsfort, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32pt;
    letter-spacing: 8px;
}

#mediumSpace {
    letter-spacing: 4px;
}

/* header of home page */

.nav {
    width: 100%;
    grid-column: 3;
    grid-row: 1;
    /* padding: 5px; */
    background-color: #d6d7ec;
    margin-top: 15%;
    height: 6vh;
    position: relative;
    top: 20%;
    text-align: center;
    display: block;
    z-index: 0;
}

a {
    display: inline-block;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    text-decoration: none;
    color: #000000;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: #ffffff80;
}

#linkContainer {
    position: relative;
    display: inline-block;
    /* margin: auto; */
    padding-left: 4.3%;
    padding-right: 4.3%;
    padding-top: 0;
    padding-bottom: 0;
    width: 24%;
    height: 100%;
    text-align: center;
}

#linkText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#linkOverlay {
    width: 100%;
    height: 100%;
    opacity: 0;
}

#linkContainer:hover #linkOverlay {
    opacity: 1;
}

.active {
    text-decoration: underline #7578a1 double;
}

.logo {
    width: 12vw;
    position: absolute;
}

.logoName {
    width: 12vw;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 0;
    grid-column: 3;
    grid-row: 1;
    z-index: 1;
}

#logoCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logoContainer {
    position: relative;
    grid-column: 2;
    grid-row: 1;
    width: 24vw;
    height: 15vh;
}

/* body of home page */

.container {
    width: 75vw;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-template-rows: 20vh 20vh auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: auto;
}

.overlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#a3DContainer {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 5;
    position: relative;
    overflow: hidden;
}

#a3DImage {
    width: 100%;
    height: 100%;
}

#a3DTextBox {
    opacity: 0;
}

#a3DContainer:hover #a3DTextBox {
    opacity: 1;
}

#gdContainer {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;
    overflow: hidden;
}

#gdImage {
    width: 100%;
    height: 100%;
}

#gdTextBox {
    opacity: 0;
}

#gdContainer:hover #gdTextBox {
    opacity: 1;
}

#p3DContainer {
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 7;
    position: relative;
    overflow: hidden;
}

#p3DImage {
    width: 100%;
    height: 100%;
}

#p3DTextBox {
    opacity: 0;
}

#p3DContainer:hover #p3DTextBox {
    opacity: 1;
}

#a2DContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
    position: relative;
    overflow: hidden;
}

#a2DImage {
    width: 100%;
    height: 100%;
}

#a2DTextBox {
    opacity: 0;
}

#a2DContainer:hover #a2DTextBox {
    opacity: 1;
}


@media only screen and (max-width: 850px) {

    #noScroll {
        overflow: scroll;
    }

    .container {
        grid-template-columns: 75vw;
        grid-template-rows: auto;
        margin-bottom: 25px;
    }

    .logoContainer {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 5;
        width: 100%;
        background-color: #fff;
    }

    .logoName {
        display: none;
    }

    .nav {
        display: none;
    }
    html, 
    body,
    .mobileMain, 
    .mobileMain section{
        /* width: 75vw; */
        height: 100%;
        margin: auto;
        /* display: block; */
    }

    .mobileMain section {
        position: relative;
        background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    #a3DImageSrc {
        background-image: url("images/foundOrganics.gif");
    }

    #gdImageSrc {
        background-image: url("images/gdImage.png");
    }

    #p3DImageSrc {
        background-image: url("images/p3DImage.gif");
    }

    #a2DImageSrc {
        background-image: url("images/a2DImage.gif");
    }

    .category {
        position: relative;
        display: none;
        margin-top: 10%;
        width: 100%;
        height: 100%;
    }

    #a3DContainer {
        z-index: 1;
        grid-column-start: 1;
        grid-column-end: 3;
        /* grid-row: 2; */
    }

    #gdContainer {
        z-index: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        /* grid-row: 2; */
    }

    #p3DContainer {
        z-index: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        /* grid-row: 2; */
    }

    #a2DContainer {
        z-index: 4;
    } 
    
}

@media only screen and (max-width: 1450px) {

    a {
        font-size: 12pt;
    }

    p {
        font-size: 16pt;
    }

    #linkContainer {
        width: 18%;
    }

}

@media only screen and (max-width: 1200px) {

    a {
        font-size: 11pt;
    }

    p {
        font-size: 14pt;
    }

    #linkContainer {
        width: 15%;
    }

}