header {
    background-color: #b1b6ff;
    margin: 5%;
    max-width: 90%;
    text-align: center;
}

body {
    margin-top: 0;
    overflow: hidden;
}

/* text styles */

p {
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18pt;
}

h2 {
    font-family: dinosaur, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32pt;
    text-transform: uppercase;
}

h3 {
    font-family: dinosaur, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24pt;
    margin: 0;
}

h1 {
    font-family: mr-sandsfort, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32pt;
    letter-spacing: 8px;
}

/* header of home page */

.nav {
    width: 23vw;
    grid-column: 3;
    grid-row: 1;
    /* padding: 5px; */
    background-color: #d6d7ec;
    /* margin-top: 10%; */
    height: 10vh;
    position: relative;
    top: 20%;
    text-align: center;
}

a {
    display: inline-block;
    font-family: dinosaur, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    text-decoration: none;
    color: #000000;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: #ffffff80;
}

#linkContainer {
    position: relative;
    display: inline-block;
    /* margin: auto; */
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0;
    padding-bottom: 0;
    width: 6vw;
    height: 100%;
    text-align: center;
}

#linkText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#linkOverlay {
    width: 100%;
    height: 100%;
    opacity: 0;
}

#linkContainer:hover #linkOverlay {
    opacity: 1;
}

.active {
    text-decoration: underline #7578a1 double;
}

.logo {
    width: 8vw;
    position: absolute;
}

#logoCenter {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.logoContainer {
    position: relative;
    grid-column: 2;
    grid-row: 1;
    width: 23vw;
    height: 15vh;
}

/* body of home page */

.container {
    width: 75vw;
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin: auto;
}

.overlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#a3DContainer {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    position: relative;
    width: 23vw;
    height: auto;
}

#a3DImage {
    width: 100%;
    height: 100%;
}

#a3DTextBox {
    opacity: 0;
}

#a3DContainer:hover #a3DTextBox {
    opacity: 1;
}

#gdContainer {
    width: 24vw;
    height: auto;
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;
}

#gdImage {
    width: 100%;
    height: 100%;
}

#gdTextBox {
    opacity: 0;
}

#gdContainer:hover #gdTextBox {
    opacity: 1;
}

#p3DContainer {
    width: 23vw;
    height: auto;
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 7;
    position: relative;
}

#p3DImage {
    width: 100%;
    height: 100%;
}

#p3DTextBox {
    opacity: 0;
}

#p3DContainer:hover #p3DTextBox {
    opacity: 1;
}

#a2DContainer {
    width: 51vw;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
    position: relative;
}

#a2DImage {
    width: 100%;
    height: 100%;
}

#a2DTextBox {
    opacity: 0;
}

#a2DContainer:hover #a2DTextBox {
    opacity: 1;
}



/* .a3DTextBox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff80;
}

#a3DContainer:hover .a3DTextBox{
    opacity: 1;
}

#gdContainer {
    width: 23vw;
    height: auto;
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;
}

#gdImage {
    width: 100%;
    height: 100%;
}

.gdTextBox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff80;
}

#gdContainer:hover .gdTextBox{
    opacity: 1;
}

#p3DContainer {
    width: 23vw;
    height: auto;
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 7;
    position: relative;
}

#p3DImage {
    width: 100%;
    height: 100%;
}

.p3DTextBox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff80;
}

#p3DContainer:hover .p3DTextBox{
    opacity: 1;
}

#a2DContainer {
    width: 51vw;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
    position: relative;
}

#a2DImage {
    width: 100%;
    height: 100%;
}

.a2DTextBox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff80;
}

#a2DContainer:hover .a2DTextBox{
    opacity: 1;
} */
